.animation-move{
  animation-play-state:running !important;
}

/*  Components Model Animation */
@keyframes model-show {
  0%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes model-close {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}


