.animation-move{
  animation-play-state:running !important;
}

/*  Components Model Animation */
@keyframes model-show {
  0%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes model-close {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

@keyframes roate-cursor {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}


.normal-expand-enter-active,
.normal-expand-leave-active{
  transition:all .4s linear;
  height: 210px !important;
}
.normal-expand-enter,
.normal-expand-leave-to {
  height: 0px !important;
}

